.productCard {
    width: 16rem;
    border: 1px solid var(--off-white);
    box-shadow: 2px 3px 3px var(--off-white);
}

.productImg {
    display: block;
    max-width: 100%;
    max-height: 20rem;
    margin: auto;
}