@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #047BD5;
    --primary-dark: #0D1117;
    --dark-grey: #374151;
    --off-grey: #B7B7A4;
    --off-white: #F3F4F6;
    --white: #FFFFFF;
}

.App {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    height: fit-content;
    width: auto;
    padding: 1rem;
    background-color: var(--primary-color);
}

.logoImg{
    max-width: 5rem;
}